<section class="todoolist-wrapper">
  <h1 class="title" >TODOO APP</h1>
  <div class="new-todo">
    <input type="text" placeholder="Escribe una nueva tarea">
    <button>+</button>
  </div>

  <div class="filters">
    <button>Todos</button>
    <button>Activas</button>
    <button>Completadas</button>
  </div>


  <ul class="todo-list">
    <!--YA EDITADO-->
    <li class="todo">
      <input type="checkbox">
      <label>Titulo de tarea</label>
      <button>Editar</button>
      <button>Eliminar</button>
    </li>
    <!--EDITADO-->
    <li class="todo-editing" >
      <input type="text" placeholder="Editar tarea" >
    </li>

  </ul>
</section>
